@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* All */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Class for calling the flex-box */
.flex-box {
    display: flex;
}

/* Defining main with width of 100 viewport. */
main {
    width: 100vw;
}

/* Global */
button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #242031;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #2b2738;
}

h2, h3, p {
    color: antiquewhite;
    font-size: 3ch;
    margin-bottom: 5px;
}

h1 {
    color: antiquewhite;
    font-size: 5ch;
}

/* Nav-bar */
.navbar-container {
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #242031;
}

.icon-nav {
    margin-left: 2rem;
}

/* Header */
.header-container a{
    text-decoration: none;
}

.header-container {
    justify-content: space-evenly;
    padding: 5rem;
    background: rgb(106,85,176);
    background: linear-gradient(130deg, rgba(106,85,176,1) 0%, rgba(28,17,63,1) 75%, rgba(25,22,34,1) 100%); 
}

#header-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding: 5rem;
}

#me-img {
    width: 15rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

#icon-img {
    width: 500px;
    height: 444px;

}

/* About me */
#aboutme-container {
    text-align: center;
    padding: 10rem;
    background: #191622;
}

#sobre-mim h2{
    font-size: 5ch;
    margin-bottom: 50px;
}

/* Social media */
.socialmedia-container {
    justify-content: space-evenly;
    padding: 6rem;
    background-color: #191622;
}

.media-item {
    text-align: center;
}

.media-img {
    padding: 2rem;
}

/* Skills */
#skills {
    text-align: center;
    background-color: #191622;
    justify-content: space-evenly;
    padding: 10rem;
}

.h2-skills {
    font-size: 5ch;
}

#icon-skills {
    justify-content: space-evenly;
    padding: 5rem;
}

.item-icon-skills {
    background-color: #3E3755;
    padding: 30px;
}

/* History */
#works-container{
    background-image: url('/assets/images/fotis-fotopoulos-SyvsTmuuZyM-unsplash.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 10rem;
}

.works-grandson{
    flex-direction: column;
    margin: 0 auto;
    width: 15rem;
}

.works-grandson a{
    text-decoration: none;
}

.works-grandson a:hover .linha{
    width: 100%; 
}

#works-grandson h2{
    margin-bottom: 50px;
    font-size: 5ch;
}

#works-grandson img{
    width: 200px; 
}

hr{
    width: 20%;
    border: 1.5px solid white;
    transition: 0.5s ease;
}

.works-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #191622d2;
    width: 30rem;
    height: 30rem;
    border-radius: 20px;
}

/* Contact */
.contact-container {
    justify-content: space-evenly;
    background-color: #191622;
    padding: 10rem;
}

.contact-container form{
    display: grid;
    text-align: center;
    width: 25rem;
}

.contact-container input{
    height: 60px;
    border-radius: 5px;
}

.contact-container #input-mensagem{
    height: 160px;
}

.contact-container h2{
    font-size: 5ch;
    margin-bottom: 2rem;
}

.contact-container button{
    margin-top: 1rem;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    height: 4rem;
    background-color: #191622;
    padding-top: 12px;
}

/* Media Queries */
@media (max-width: 1350px) {
    .contact-container{
        flex-direction: column;
    }

    .contact-container iframe{
        margin: 50px auto;
    }

    .contact-container form{
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    header #icon-img{
        display: none;
    }

    header #intro{
        width: 100%;
    }

    .contact-container iframe{
        display: none;
    }

    #portifolio{
        display: none;
    }
}